/* Your CSS for hover effect */
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  
  .list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }